<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="row text-center m-4 " style="height: 100px;">
            <div class="col">
                <button [routerLink]="'tostudreg'" class="btn btn-primary btn-lg btn-block" style="height: 100%;">Student Registration</button>
            </div>
            <div class="col">
                <button [routerLink]="'toinstreg'" class="btn btn-primary btn-lg btn-block" style="height: 100%;">Institute Registration</button>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <button [routerLink]="''" class="btn btn-secondary">Cancel</button>
            </div>
                
        </div>
        
        
    </body>
</html>

