<table class="table">
    <tr>
        <td style="background-color: beige;" colspan="2"><b>BASIC DETAILS</b></td>
    </tr>
    <tr>
        <td><p>AADHAR NUMBER</p></td><td>{{scholarship.uniqid}}</td>
    </tr>
    <tr>
        <td><p>RELEGION</p></td><td>{{scholarship.relegion}}</td>
    </tr>
    <tr>
        <td><p>COMMUNITY/CATEGORY</p></td><td>{{scholarship.category}}</td>
    </tr>
    <tr>
        <td><p>FATHER NAME</p></td><td>{{scholarship.fathername}}</td>
    </tr>
    <tr>
        <td><p>MOTHER NAME</p></td><td>{{scholarship.mothername}}</td>
    </tr>   
    <tr>
        <td><p>FAMILY ANNUAL</p></td><td>{{scholarship.annualincome}}</td>
    </tr>
    <tr>
        <td style="background-color: beige;" colspan="2"><b>ACADEMIC DETAILS</b></td>
    </tr>
    <tr>
        <td><p>INSTITUTE NAME</p></td><td>{{scholarship.institutename}}</td>
    </tr>
    <tr>
        <td><p>PRESENT CLASS/COURSE</p></td><td>{{scholarship.presentclass}}</td>
    </tr>
    <tr>
        <td><p>PRESENT CLASS/COURSE YEAR</p></td><td>{{scholarship.presentclassyear}}</td>
    </tr>
    <tr>
        <td><p>MODE OF STUDY</p></td><td>{{scholarship.modeofstudy}}</td>
    </tr>
    <tr>
        <td><p>CLASS START DATE</p></td><td>{{scholarship.classstartdate}}</td>
    </tr>
    <tr>
        <td><p>UNIVERSITY/BOARD NAME</p></td><td>{{scholarship.universityname}}</td>
    </tr>
    <tr>
        <td><p>PREVIOUS CLASS/COURSE</p></td><td>{{scholarship.previousclass}}</td>
    </tr>
    <tr>
        <td><p>PREVIOUS PASSING YEAR</p></td><td>{{scholarship.previouspassingyear}}</td>
    </tr>
    <tr>
        <td><p>PREVIOUS CLASS %</p></td><td>{{scholarship.previuosclasspercent}}</td>
    </tr>
    <tr>
        <td style="background-color: beige;" colspan="2"><b>10TH CLASS</b></td>
    </tr>
    <tr>
        <td><p>ROLL NUMBER</p></td><td>{{scholarship.rollnum10}}</td>
    </tr>
    <tr>
        <td><p>BOARD NAME</p></td><td>{{scholarship.boardname10}}</td>
    </tr>
    <tr>
        <td><p>PASSING YEAR</p></td><td>{{scholarship.passingyear10}}</td>
    </tr>
    <tr>
        <td><p>% OBTAINED</p></td><td>{{scholarship.prcentobt10}}</td>
    </tr>
    <tr>
        <td style="background-color: beige;" colspan="2"><b>12TH CLASS</b></td>
    </tr>
    <tr>
        <td><p>ROLL NUMBER</p></td><td>{{scholarship.rollnum12}}</td>
    </tr>
    <tr>
        <td><p>BOARD NAME</p></td><td>{{scholarship.boardname12}}</td>
    </tr>
    <tr>
        <td><p>PASSING YEAR</p></td><td>{{scholarship.passingyear12}}</td>
    </tr>
    <tr>
        <td><p>% OBTAINED</p></td><td>{{scholarship.prcentobt12}}</td>
    </tr>
    <tr>
        <td style="background-color: beige;" colspan="2"><b>FEE DETAILS</b></td>
    </tr>
    <tr>
        <td><p>ADMISSION FEE</p></td><td>{{scholarship.admissionfee}}</td>
    </tr>
    <tr>
        <td><p>TUTION FEE</p></td><td>{{scholarship.tutionfee}}</td>
    </tr>
    <tr>
        <td><p>OTHER FEE</p></td><td>{{scholarship.otherfee}}</td>
    </tr>
    <tr>
        <td style="background-color: beige;" colspan="2"><b>OTHER PERSONAL DETAILS</b></td>
    </tr>
    <tr>
        <td><p>IS DISABLED</p></td><td>{{scholarship.isdisabled}}</td>
    </tr>
    <tr>
        <td><p>TYPE OF DISABILTY</p></td><td>{{scholarship.disabilitytype}}</td>
    </tr>
    <tr>
        <td><p>% OF DISABLITY</p></td><td>{{scholarship.disabilitypercentage}}</td>
    </tr>
    <tr>
        <td><p>MARTIAL STATUS</p></td><td>{{scholarship.martialstatus}}</td>
    </tr>
    <tr>
        <td><p>PARENTS PROFESSION</p></td><td>{{scholarship.parentsprofession}}</td>
    </tr>
    <tr>
        <td style="background-color: beige;" colspan="2"><b>CONTACT DETAILS</b></td>
    </tr>
    <tr>
        <td><p>STATE</p></td><td>{{scholarship.state}}</td>
    </tr>
    <tr>
        <td><p>DISTRICT</p></td><td>{{scholarship.district}}</td>
    </tr>
    <tr>
        <td><p>BLOCK/TALUK</p></td><td>{{scholarship.taluk}}</td>
    </tr>
    <tr>
        <td><p>HOUSE NUMBER</p></td><td>{{scholarship.housenumber}}</td>
    </tr>
    <tr>
        <td><p>STREET NUMBER</p></td><td>{{scholarship.streetnumber}}</td>
    </tr>
    <tr>
        <td><p>PINCODE</p></td><td>{{scholarship.pincode}}</td>
    </tr>
    <tr>
        <td><p>SCHEME APPLIED FOR</p></td><td>{{scholarship.scheme}}</td>
    </tr>
    <tr>
        <td style="background-color: beige;" colspan="2"><b>DOCUMENTS UPLOADED</b></td>
    </tr>
    <tr>
        <td>STUDENT PHOTOGRAPH</td><td><img src="assets/{{scholarship.uniqid}}studphoto.jpg"></td>
    </tr>
    <tr>
        <td>PREVIOUS YEAR MARKSHEET</td><td><img src="assets/{{scholarship.uniqid}}semestermarksheet.jpg"></td>
    </tr>
    <tr>
        <td>INSTITUTE ID CARD</td><td><img src="assets/{{scholarship.uniqid}}idcard.jpg"></td>
    </tr>
    <tr>
        <td>10TH CLASS MARKSHEET</td><td><img src="assets/{{scholarship.uniqid}}10thmarksheet.jpg"></td>
    </tr>
    <tr>
        <td>12TH CLASS MARKSHEET</td><td><img src="assets/{{scholarship.uniqid}}12thmarksheet.jpg"></td>
    </tr>
    
    <tr>
        <td><button class="btn btn-danger" (click)="rejected()" [disabled]="alreadydone">Reject</button></td><td><button class="btn btn-success" (click)="approved()" [disabled]="alreadydone">Approve</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" (click)="moveback()">Back</button></td>
    </tr>
    
</table>
