<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<div class=" text-center mx-auto border border-dark m-4" style="width: auto; max-width: 60%">
  <h3 class="card-title mt-3 font-weight-bold">National Scholarship Portal</h3>
<h5 class="card-title mb-3">Goverment Of India</h5>
</div>
</html>
<div>
  <router-outlet></router-outlet>
</div>