<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
     <div class="mx-auto border border-dark m-4 p-4" style="width: auto; max-width: 30%">
        <h4>Enter Student ID</h4>
        <div class=" text-center">
            <input type="text" class="form-control" placeholder="Enter ID" [(ngModel)]="loginid">
        </div>
        <div class="col">
            <button class="btn btn-primary mt-4" (click)="resetpass()">Submit</button><button class="btn btn-primary mt-4 ml-4" [routerLink]="''">Cancel</button>
        </div>
     </div>
        
    </body>
</html>
