<head>
    <title>Nodal HomePage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class=" text-center mx-auto border border-dark m-4" style="width: auto; max-width: 60%">
            <h4 class="card-title mt-3 font-weight-bold">Nodal Home Page</h4>
    </div>

    <div class="row m-4 text-center">
        <button [routerLink]="''" class="btn btn-primary">Logout</button>
    </div>
    
    <div class="row m-4  text-center ">

        <div class="col">
            <div class="card border-dark mb-3 row" style="max-width: 100%; height: 100%;">
                <div class="card-header">Institute Forms</div>
                <div class="card-body text-dark pb-5" class="overflow-auto">
                    <table class="table">
                        <thead>
                            <th>InstituteID</th>
                            <th>Name</th>
                            <th>Open Form</th>
                        </thead>
                        <tr *ngFor="let in of institute">
                            <td scope="col">{{in.instid}}</td><td>{{in.instname}}</td><td><button [routerLink]="['toinstformview',in.instid]" class="btn btn-primary">Open</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-dark mb-3 row" style="max-width: 100%; height: 100%;">
                <div class="card-header">Scholarship Forms</div>
                <div class="card-body text-dark" class="overflow-auto">
                    <table class="table">
                        <thead>
                            <th>Scholarship ID</th>
                            <th>Open Form</th>
                        </thead>
                        <tr *ngFor="let sc of scholarship">
                            <td scope="col">{{sc.uniqid}}</td><td><button [routerLink]="['toscholarformview',sc.uniqid]" class="btn btn-primary">Open</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>


